@model FitnessProgramDetailViewModel
@{
    ViewBag.Title = "Edit Program";
    int count = 1;
}

<div class="container-fluid">
    <form asp-controller="FitnessProgram" asp-action="Edit" method="post">
       
        <div class="row">
            <div class="col-md-5">
                <h1 class="float-end">
                    <input asp-for="Name" type="text" required />
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Exercise</th>
                            <th scope="col">Sets</th>
                            <th scope="col">Reps</th>
                            <th scope="col">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Exercises)
                        {
                            <tr>
                                <th scope="row">@(count++)</th>
                                <td>@item.ExerciseName</td>
                                <td>
                                    <input asp-for="@item.Sets" type="number" required />
                                    <span asp-validation-for="@item.Sets"></span>
                                </td>
                                <td>
                                    <input asp-for="@item.Reps" type="number" required />
                                    <span asp-validation-for="@item.Reps"></span>
                                </td>
                                <td>
                                    <input asp-for="@item.Weight" type="number" required />
                                    <span asp-validation-for="@item.Weight"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <input type="submit" class="btn btn-danger float-end" value="Save changes" />
    </form>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProgramNameModal">
    Launch demo modal
</button>

<!-- Modal for Program name -->
<div class="modal fade" id="ProgramNameModal" tabindex="-1" aria-labelledby="ProgramNameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit program name</h1>
            </div>
            <form id="myForm">
                <div class="modal-body">
                    <input asp-for="Id" hidden />

                    <label asp-for="Name" class="col-form-label-sm"></label>
                    <input asp-for ="Name" class="form-control" type="text" required />
                    <span asp-validation-for="Name" id="Name-error" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button id="myButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="submitBtn" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#submitBtn").click(function () {
            $.ajax({
                url: '@Url.Action("Edit", "FitnessProgram")',
                type: 'POST',
                data: $('#myForm').serialize(),
                success: function (result) {
                    if (result.success) {

                        $('#myButton').click();
                        window.location.href = '@Url.Action("Edit", "FitnessProgram","result.id")';
                        
                    } else {
                        
                        displayErrors(result.errors);
                    }
                },
                error: function (error) {
                    console.error("Error: " + JSON.stringify(error));
                }
            });

            function displayErrors(errors) {
                for (var key in errors) {
                    if (errors.hasOwnProperty(key)) {
                        var errorMessages = errors[key];
                        $('#' + key + '-error').text(errorMessages.join(', '));
                    }
                }
            }
        });
    });

</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
