@model UserInfoViewModel

@{
    ViewBag.Title = "Dashboard";
}

<p>@Model.FullName</p>
<p>@Model.Age</p>
<p>@Model.Gander</p>


@if (Model.Image != null)
{
    <div class="row">
        <div class="col-md-3">
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" class="img-fluid" alt="File Preview">
        </div>
    </div>
}

@if (Model.FacebookUrl != null)
{
    <p>@Model.FacebookUrl</p>
}

@if (Model.InstagramUrl != null)
{
    <p>@Model.InstagramUrl</p>
}

@if (Model.YouTubeUrl != null)
{
    <p>@Model.YouTubeUrl</p>
}

<div class="chart-container" style="position: relative; height:50vh; width:90vw">
    <canvas id="myChart"></canvas>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/Dashboard.js"></script>
}
